

// Thx to Alvaro https://codepen.io/alvarotrigo/pen/abqwMJo
div.round-switch {
  --round-btn-size: 60px;
  $active-color: hsl(0, 81%, 33%);

  // &.tuto {
  //   z-index: 100;
  //   & button.depth {
  //     box-shadow: inset 0 0 2px 2px hsla(0,0%,0%,.2),
  //     inset 0 0 2px 4px hsla(0,0%,0%,.2),
  //     inset 0 0 2px 6px hsla(0,0%,0%,.2),
  //     inset 0 0 1px 8px hsla(0,0%,0%,.5),
  //     inset 0 -4px 2px 4px hsla(0,0%,0%,.5),
  //     inset 0 1px 1px 8px hsla(0,0%,100%,.25),
  //     inset 0 -30px 30px hsla(0,0%,0%,.2),
  //     0 -4px 8px 4px hsla(0,0%,0%,.5),
  //     0 10px 10px hsla(0,0%,0%,.25),
  //     0 0 2px 2px hsla(0,0%,0%,.2),
  //     0 0 2px 4px hsla(0,0%,0%,.2),
  //     0 0 2px 6px hsla(0,0%,0%,.2),
  //     0 0 2px 8px hsla(0,0%,0%,.5),
  //     0 1px 2px 8px hsla(0,0%,100%,.25),
  //     0 -1px 2px 8px hsla(0,0%,0%,.5),
  //     0 0px 100px 4vw hsl(43, 40%, 79%); // line added to highlight component 
  //   }
  // }

  & button:hover,
  & button:active {
    outline: 0;
  }

  & button.disable {
    pointer-events: none;
  }

  /* 3D Button */

  & button.depth {
    background: #444;
    border: none;
    border-radius: 50%;
    box-shadow: inset 0 0 2px 2px hsla(0,0%,0%,.2),
                inset 0 0 2px 4px hsla(0,0%,0%,.2),
                inset 0 0 2px 6px hsla(0,0%,0%,.2),
                inset 0 0 1px 8px hsla(0,0%,0%,.5),
                inset 0 -4px 2px 4px hsla(0,0%,0%,.5),
                inset 0 1px 1px 8px hsla(0,0%,100%,.25),
                inset 0 -30px 30px hsla(0,0%,0%,.2),
                0 -4px 8px 4px hsla(0,0%,0%,.5),
                0 10px 10px hsla(0,0%,0%,.25),
                0 0 2px 2px hsla(0,0%,0%,.2),
                0 0 2px 4px hsla(0,0%,0%,.2),
                0 0 2px 6px hsla(0,0%,0%,.2),
                0 0 2px 8px hsla(0,0%,0%,.5),
                0 1px 2px 8px hsla(0,0%,100%,.25),
                0 -1px 2px 8px hsla(0,0%,0%,.5);
    color: #303030;
    cursor: pointer;
    font: bold calc(var(--round-btn-size) / 2)/calc(var(--round-btn-size) + 5px) sans-serif;
    height: var(--round-btn-size);
    padding: 0;
    text-shadow: 0 1px 1px hsla(0,0%,100%,.25),
                0 -1px 1px hsla(0,0%,0%,.75);
    width: var(--round-btn-size);
    &.tuto {
      box-shadow: inset 0 0 2px 2px hsla(0,0%,0%,.2),
                  inset 0 0 2px 4px hsla(0,0%,0%,.2),
                  inset 0 0 2px 6px hsla(0,0%,0%,.2),
                  inset 0 0 1px 8px hsla(0,0%,0%,.5),
                  inset 0 -4px 2px 4px hsla(0,0%,0%,.5),
                  inset 0 1px 1px 8px hsla(0,0%,100%,.25),
                  inset 0 -30px 30px hsla(0,0%,0%,.2),
                  0 -4px 8px 4px hsla(0,0%,0%,.5),
                  0 10px 10px hsla(0,0%,0%,.25),
                  0 0 2px 2px hsla(0,0%,0%,.2),
                  0 0 2px 4px hsla(0,0%,0%,.2),
                  0 0 2px 6px hsla(0,0%,0%,.2),
                  0 0 2px 8px hsla(0,0%,0%,.5),
                  0 1px 2px 8px hsla(0,0%,100%,.25),
                  0 -1px 2px 8px hsla(0,0%,0%,.5),
                  0 0px 100px 4vw hsl(43, 40%, 79%); // line added to highlight component 
                  // 0 0px 100px 80vw rgba(140, 140, 140, 0.909); // light grey bg highlight
      };
  }
  & button.depth.is-active {
    & svg path {
    fill: $active-color;
    }
    color: $active-color;
    text-shadow: 0 0 var(--round-btn-size / 4) hsla(240,75%,75%,.5),
                0 1px 1px hsla(0,0%,100%,.25),
                0 -1px 1px hsla(0,0%,0%,.75);
  }
  & button.depth:active {
    box-shadow: inset 0 0 2px 2px hsla(0,0%,0%,.2),
                inset 0 0 2px 4px hsla(0,0%,0%,.2),
                inset 0 0 2px 6px hsla(0,0%,0%,.2),
                inset 0 0 1px 7px hsla(0,0%,0%,.5),
                inset 0 5px 15px 7px hsla(0,0%,0%,.15),
                inset 0 -4px 2px 3px hsla(0,0%,0%,.5),
                inset 0 1px 1px 7px hsla(0,0%,100%,.25),
                inset 0 -30px 30px hsla(0,0%,0%,.1),
                inset 0 30px 30px hsla(0,0%,0%,.2),
                0 -4px 8px 4px hsla(0,0%,0%,.5),
                0 5px 10px hsla(0,0%,0%,.25),
                0 0 2px 2px hsla(0,0%,0%,.2),
                0 0 2px 4px hsla(0,0%,0%,.2),
                0 0 2px 6px hsla(0,0%,0%,.2),
                0 0 2px 8px hsla(0,0%,0%,.5),
                0 1px 2px 8px hsla(0,0%,100%,.25),
                0 -1px 2px 8px hsla(0,0%,0%,.5);
    line-height: calc(var(--round-btn-size) + 6)px;
    // line-height: 86px;
  }
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}