div.levels {
  $knob-color1: hsl(37, 81%, 63%);
  $knob-color2: hsl(37, 50%, 40%);
  &:hover{
    transform: scale(1.5) translate(0, -1rem);
    transition: all 0.2s ease-in-out;
  }

  transition: all 0.2s ease-in-out;

  &.knob-dial {
    display: grid;
    justify-content: center;
    align-items: center;

  }

  .knob {
    display: flex;
    position: relative;
    cursor: pointer;
  }
  .knob .ticks {
    position: absolute;
  }
  .knob .ticks .tick {
    position: absolute;
    background: black;
    box-shadow: inset 0 0 0 0 black;
    width: 3px;
    transition: box-shadow 0.5s;
  }
  .knob .ticks .tick.active {
    box-shadow: inset 0 0 5px 2px $knob-color1, 0 0 0 1px $knob-color2;
  }
  .knob.outer {
    border-radius: 50%;
    border: 1px solid #222;
    border-bottom: 5px solid #222;
    background-image: radial-gradient(ellipse 100% 70%, #666 6%, #333 90%);
    box-shadow: 0 5px 15px 2px black, 0 0 5px 3px black, 0 0 0 12px #444;
  }
  .knob.inner {
    border-radius: 50%;
  }
  .knob.inner .grip {
    position: absolute;
    width: 5%;
    height: 5%;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background: $knob-color1;
    box-shadow: 0 0 3px 1px black;
  }
}