$colorA: #55ff33;
$colorB: #daff33;
$colorC: #ffe433;
$colorD: #ff7e33;
$colorE: #ff3333;

  
div#game-score {
  grid-row: 1 / 2;
  grid-column: 6 / 7;
  display: flex;
  justify-content: flex-start;
  margin: 0 0 2rem 1vw;
  align-items: center;

  &.hide {
    display: none;
  }
  @media screen and (max-width: 851px) and (orientation: portrait){
    grid-row: 3 / 4;
    grid-column: 4 / 5;
    place-self: start center;
    @media screen and (max-height: 670px) { 
      margin-top: -11vh;
    }
  }
  @media screen and (max-height: 420px) and (orientation: landscape) {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    margin: -12vh 0 0 0;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }
  .shadow-node {
    filter: drop-shadow(0 0 4px var(--score-color));
  }

  $score-dashoffset: 320; // max value, default 440
  $score-progressbars_size: 121px; // wrapper svg size, default 170px;
  $width: 100%; // default 100%
  $height: 100%; // default 100%
  $stroke-width: 7; // default 10
  // #scoreCircle {
  //   cx: 55; // default 80
  //   cy: 55; // default 80
  //   r: 50; // default 70
  // }
  
  .score-container {
    border-radius: 50%;
    // border: 1px solid darkgreen;
  }

  .score-container__progressbars {
    flex-wrap: wrap;
    width: $width;
    min-height: $height;
  }

  .progressbar {
    position: relative;
    width: $score-progressbars_size;
    height: $score-progressbars_size;
    margin: 1em;
    transform: rotate(-90deg);
  }

  .progressbar__svg {
    position: relative;
    width: $width;
    height: $height;
  }

  .progressbar__svg-circle {
    width: $width;
    height: $height;
    fill: none;
    stroke-width: $stroke-width;
    stroke-dasharray: $score-dashoffset;
    stroke-dashoffset: $score-dashoffset;
    stroke: white;
    /* stroke: rgb(149, 147, 147);
    stroke: rgb(31, 94, 18); */
    stroke-linecap: round;
    transform: translate(5px, 5px);
  }

  .circle-node {
    -webkit-animation: anim_circle-node 1s ease-in-out forwards;
            animation: anim_circle-node 1s ease-in-out forwards;
  }

  @-webkit-keyframes anim_circle-node {
    to {
      stroke-dashoffset: var(--score-dashoffset);
    }
  }
  @keyframes anim_circle-node {
    to {
      stroke-dashoffset: var(--score-dashoffset);
    }
  }

  .progressbar__text {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0.25em 0.5em;
    color: white;
    border-radius: 0.25em;
    transform: translate(-50%, -50%) rotate(90deg);
    font-weight: bold;
    font-size: 0.9rem;
    &.shadow-node {
      filter: drop-shadow(0 0 1px var(--score-color));
    }
    transition: opacity 0.3s ease-in-out;
    &.display {
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }
  }
}
