//
// ****   Close Buttons  *****
//
button.close {
  --close-btn-size: calc(1.1rem + 1vmin);
  position: absolute;
  height: var(--close-btn-size);
  width: var(--close-btn-size);
  display: block;
  background: transparent;
  border: 1px solid whitesmoke;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  opacity: 0.4;
  transform: translateY(calc(-1 * (var(--close-btn-size) / 4)))
    translateX(calc((var(--close-btn-size) / 4)));
  outline-style: none; // For Safari
  padding: 4px;
  box-shadow: rgba(0, 0, 0, 0.4) 0.7px 0.7px 1px;
  transition: opacity 0.3s ease-in-out;
  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.4) 1.95px 1.95px 2.6px;
    transition: opacity 0.2s ease-out;
  }
  &:hover{
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  &:hover::after {
    opacity: 0;
  }
  & .close_line,
  .close_line::after {
    pointer-events: none;
    display: block;
    width: 100%;
    height: 2px;
    position: relative;
    border-radius: 20%;
    background: goldenrod;
  }
  & .close_line {
    transform: rotate(-45deg);
  }
  & .close_line::after {
    content: "";
    transform: rotate(90deg);
  }
}
