div.play-progressbar {
  --tempo-time: 1s;
  position: absolute;
  bottom: 2rem;
  width: 450px;
  border-radius: 5px;
  margin-top: 6px;
  height: 5px;
  // background: #274545;
  background: rgba(49, 44, 26, 0.852);
  box-shadow: rgba(49, 44, 26, 0.03) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.9) 0px 18px 36px -18px inset;
  overflow: hidden;
  opacity: 0.6;
  &.shadow-node {
    // filter: drop-shadow(0 0 4px hsla(37, 100%, 61%, 0.835)); // gold halo
    filter: drop-shadow(0 0 4px hsla(37, 100%, 61%, 0.606)); // gold halo
  };
  @media screen and (max-width: 850px) and (orientation: portrait){
    max-width: 60%;
    bottom: 2vh;
  };
  @media screen and (max-height: 420px) and (orientation: landscape) {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  };
  span.progress {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    opacity: 0.5;
    // background: #326666;
    background: hsla(37, 100%, 61%, 0.601);
    border-radius: 5px;    
    transition: all .3s;
    animation: bar-progression var(--tempo-time) linear infinite ;
  }
}

@keyframes bar-progression {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
