dialog.tuto--dialog[open] {
  $bgcolor: hsl(37, 1%, 15%);
  & div.tuto-msg {
    padding: 0 2rem;
    margin: 0;
    width: 100%;
    header {
      display: flex;
      justify-content: center;
      h4 {
        color:hsl(39, 61%, 29%);
      }
      h4.msg-title {
        color:hsl(39, 65%, 52%);
      }
    }
    p {
      margin: 1vh 0 0 0;
      white-space: pre-wrap;
      text-align: center;
    }
  &.table-of-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
    main {
      p {
        margin: 1vh 0 7vh 0;
      }
      h4.title2 {
        color:hsl(39, 65%, 52%);
        margin: 0 0 3vh 0;
        padding: 0;
        text-align: center;
      }
      ul {
        margin: 0;
        li {
          margin: 5vh 0;
          padding: 1rem 2rem;
          border: 1px solid hsl(39, 65%, 52%);
          border: 1px solid hsl(39, 61%, 29%);
          border-radius: 15px;
          color: whitesmoke;
          list-style: none;
          cursor: pointer; 
          box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.592);
          background-color: $bgcolor;
          z-index: 200;
          &:hover {
            color: $bgcolor;
            background-color: hsla(0, 0%, 96%, 0.856);
            border: 1px solid hsl(39, 65%, 52%);
          }
          &:active {
            transform: translateY(2px);
            box-shadow: none;
          }
        }
        li:first-of-type {
          margin-top: 0;
      }
      }
    }
  }
  }

}