dialog.tuto--dialog[open] {
  & button.nav {
    position: absolute;
    bottom: 1rem;
    padding: 4px 1rem;
    font: inherit;
    font-size: 0.8rem;
    color: whitesmoke;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */
    &:hover {
      color: var(--gold);
      transition: color 0.2s ease-in-out;
    }
    &.next {
      right: 2rem;
      &:disabled {
        pointer-events: none;
        cursor: not-allowed;
        color: hsl(37, 14%, 25%);
      }
    }
    &.prev {
      left: 2rem;
    }
    &.quit {
      left: 42%;
      padding: 4px 2rem;
      min-width: 9rem;
    }
  }

  & button.close {
    right: max(0.6rem, 2vmin);
    top: max(0.6rem, 2vmin);
    & .close_line,
    .close_line::after {
      height: 2px;
      border-radius: 10%;
    }
  }
}