@import "tuto-content";
@import "tuto-dialog--buttons";

dialog.tuto--dialog[open] {
  --light-gold: hsl(37, 97%, 66%);
  $bgcolor: hsl(37, 1%, 15%);
  
  --pointer-left: 2.5rem;
  --pointer-right: 1.5rem;
  --pointer-top: 1.5rem;
  --pointer-bottom: 1.5rem;

  grid-row: 1 / 2;
  grid-column: 3 / 6;
  
  transition: all 0.3s ease-in-out;

  opacity: 0.98;
  height: 12rem;
  width: 600px;
  max-width: 600px;
  position: relative;
  padding: 0;
  display: flex;
  background-color: $bgcolor;
  border: none;
  border-radius: 10px;
  color: whitesmoke;
  z-index: 100;
  filter: drop-shadow(0 0 4px var(--gold));
  box-shadow:	0 0 8px var(--light-gold);
  &::after { // glowing effect
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    filter: drop-shadow(0 -0.2rem 2px var(--gold));
    border: 1.1rem solid transparent;
  }
  &.toUp-left::after {
    bottom: 99%;
    left: var(--pointer-left); 
    border-top: none;
    border-bottom-color: $bgcolor;
  }
  &.toUp-right::after {
    bottom: 99%;
    right: var(--pointer-right);
    border-top: none;
    border-bottom-color: $bgcolor;
  }
  &.toRight::after {
    left: 100%;
    top: var(--pointer-top);
    border-left-color: $bgcolor;
    filter: drop-shadow(0.2rem 0 2px var(--gold));
  }
  &.toDown::after {
    top: 99%;
    left: var(--pointer-left);
    border-top-color: $bgcolor;
    filter: drop-shadow(0 0.2rem 2px var(--gold));
  }
  &.none::after {
    border: none;
  }    
  animation: 0.3s ease-in-out myFadeIn ;
}
@keyframes myFadeIn{
  from {
    opacity: 0;
    transform: translate(0, -200%);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
};