
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000");
@import url("https://use.typekit.net/upi5jjh.css");
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

html {
  font-family: 'Nunito', sans-serif;
}

:root {
  --vexflow_height: 250px;
  --piano_height: 250px;
}
body {
  background-image: url("../../public/assets/large_leather4.png");
  background-repeat: repeat;
  margin: 0;
  &.avoid-scroll--on-touch {
    overflow: hidden; 
    background-color: #000000;
  }
}

button {
  outline-style: none; // For Safari
}

main#App {
  display: grid;
  grid-template-rows: 15rem var(--vexflow_height) auto auto ; // max 480px
  grid-template-columns: auto 18vw repeat(3, 195px) 18vw auto;
  margin: 0 auto;
  @media screen and (max-width: 850px) and (orientation: portrait) {
      grid-template-rows: 35vh var(--vexflow_height) var(--piano_height) auto; 
      grid-template-columns: auto repeat(5, 18vw) auto;
      padding: 0;
      overflow: hidden;
      &.is-playing {
        grid-template-rows: 20vh var(--vexflow_height) var(--piano_height) auto; 
      }
      @media screen and (max-height: 670px) {
        grid-template-rows: 25vh var(--vexflow_height) var(--piano_height) auto; 
      }
      &.while-correction { // only if isMobile....
        grid-template-rows: 40vh var(--vexflow_height) auto auto; 
        & div#pianoKeyboard {
          display: none;
        }
      }
  }
}

/* Play Stop button ---------- */

div.playDiv {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  max-width: fit-content;
  display: flex;
  align-items: flex-start;
  margin: 3rem 0 0 1.3rem;
  z-index: 1;
  @media screen and (max-width: 850px) and (orientation: portrait) {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      place-self: start start;
      margin: 7vh 0 0 0;
      @media screen and (max-height: 670px) {
        grid-row: 2 / 3;
        @media screen and (max-width: 350px) { // smallest phones
          margin: 3rem 0 0 -3vw;
        }
      }
  }
}

/* Switch show Options button ---------- */

div.options-switch {
  grid-row: 1 / 2;
  grid-column: 5 / 6;
  --round-btn-size: 50px;
  max-width: fit-content;
  max-height: var(--round-btn-size);
  display: flex;
  align-items: flex-start;
  justify-self: flex-end;
  margin: 3rem 2rem 0 0;
  z-index: 10;
  user-select: none;
  @media screen and (max-width: 850px)and (orientation: portrait) {
      grid-row: 1 / 2;
      grid-column: 6 / 7;
      place-self: start end;
      margin: 7vh 2vh 0 0 ;
  }
  @media screen and (max-width: 850px) and (max-height: 700px) and (orientation: portrait) {
    grid-row: 2 / 3;
    @media screen and (max-width: 350px) { // smallest phones
      margin: 3rem 1vw 0 0;
    }
  }
};
/* Tutorial Button ---------- */

div.tuto-btn-wrapper {
  grid-row: 1 / 2;
  grid-column: 3 / 6;
  place-self: start center;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
};

/* VexFlow Score ---------- */

#vexbox, #vexboxMobile {
  grid-column: 2 / 7;
  grid-row: 2 / 3;
  height: var(--vexflow_height);
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 0 auto;
  background-color: rgb(255,255,238);
  border: 4px solid black;
  border-color: black black #394046 black;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.988) 0px 2px 4px 0px inset;
  &.tuto { 
    box-shadow: rgba(0, 0, 0, 0.988) 0px 2px 4px 0px inset, 
    0 0px 100px 2vw hsl(43, 40%, 79%); // line added to highlight component ;
    z-index: 1;
    border-width: 2px;
  }
  @media screen and (max-width: 850px) and (orientation: portrait) {
    width: 140px;
    align-self: flex-start;
    &.while-correction {
      justify-self: flex-start;
      margin: 10vh 0 0 5vw;
      visibility: hidden;
    }
  }
  &.while-correction {
    justify-self: flex-start;
    margin: 0 0 0 5vw;
  }
}

.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}

g.vf-stavenote.wrongNote g.vf-note {
  --wrong-note-color: rgb(198, 7, 7);
  --wrong-note-color: hsl(129, 83%, 43%);
  --wrong-note-color: hsl(279, 100%, 65%);
  & g.vf-stem path {
  stroke: var(--wrong-note-color);
  }
  & g.vf-notehead path {
    fill: var(--wrong-note-color);
  }
}


/* Piano & pads ---------- */

div#pianoKeyboard {
  grid-column: 2 / 7;
  grid-row: 3 / 4;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}


/* Media queries ---------- */

@media screen and (max-width: 350px), screen and (max-height: 350px) { // old and tiny phones
  html {
    font-size: 90%;
  }
}
@media screen and (max-height: 420px) and (orientation: landscape) {
  main#App {
    grid-template-rows: 33vh calc(5vh + var(--vexflow_height)) auto;
    grid-template-columns: 5vw repeat(5, 18vw) 5vw;
    grid-template-columns: auto repeat(5, 18vw) auto;
    max-height: 100vh;
    margin: 0;
    overflow: hidden;
    &.while-correction {
      grid-template-rows: 48vh var(--vexflow_height) 5vh ; 
      & div#pianoKeyboard {
        display: none;
      }
    }
  }
  div.playDiv {
    margin: 0 0 4vh 0;
    grid-column: 2 / 3;
    place-self: center center;
  }
  div.options-switch {
    margin: 0 0 4vh 0;
    grid-column: 6 / 7;
    place-self: center center;
  }
  #vexboxMobile {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    height: var(--vexflow_height);
    width: 140px;
    place-self: center center;
    display: flex;
    &.while-correction {
      justify-self: flex-start;
      margin: 10vh 0 0 5vw;
      visibility: hidden;
    }
  }
  div#pianoKeyboard {
    grid-column: 4 / 8;
    grid-row: 2 / 4;
    display: flex;
    place-self: center start;
    justify-content: flex-start;
    align-items: center;
    & #keyboard {
      grid-column: 4 / 8;
      grid-row: 2 / 3;
      width: 55vw;
      width: 100%;
      // max-width: 370px;
      margin: 2vh 0 0 0;
      padding: 4vh 3vw 5vh 4vw; // red zone 
      @media screen and (max-width: 850px) and (orientation: portrait) {
        padding: 4vh 0 6vh 6vw;
      }
      .white {
        height: 19vmax;
        width: 10.5vmin;
        padding: 0.84vmax 0;
      }
      .black {
        height: 12vmax;
        width: 6vmin;
        margin: 0 0 0 -3.28vmin;
        padding: 0.84vmax 0;
        font-size: 0.8rem;
      }
      .offset {
        margin: 0 0 0 -2.7vmin;
      }
    }
  }
}
