button.tuto-button {
  --gold: hsl(37, 100%, 61%);
  --light-gold: hsla(37, 100%, 91%, 85%);
  --mid-shadow: hsl(39, 61%, 29%);
  --light-shadow: hsl(39, 61%, 59%);
  --dark-shadow: hsl(38, 88%, 13%);

  --fg: hsl(37, 10%, 90%);
  --bg: hsl(37, 10%, 20%);
  --bs1: hsl(37, 10%, 29%);
  --bs2: hsl(37, 10%, 22%);
  --bs3: hsl(37, 10%, 17%);
  --bs4: hsl(37, 10%, 11%);

  --bg: hsl(37, 10%, 18%);
  --bs1: hsl(37, 10%, 27%);
  --bs2: hsl(37, 10%, 20%);
  --bs3: hsl(37, 10%, 15%);
  --bs4: hsl(37, 10%, 9%);
	--transDur: 0.3s;

  z-index: 1;
  width: 10rem;
  padding: 0.2rem 1.5rem;
  font-size: 0.9rem;
  letter-spacing: 1px;
  margin-bottom: 0.5em;
  cursor: pointer;

  background-color: var(--bg);
  background-color: transparent;
  color: var(--mid-shadow);
  border-radius: 0 0 10px 10px;
  border: none;
  box-shadow:
    0.15em 0.15em 1em var(--bs2) inset,
    -0.15em -0.15em 1em var(--bs3) inset,
    0.15em 0.15em 0.45em var(--bs4), 
    -0.15em -0.15em 0.45em var(--bs1);
    
  transition: all var(--transDur) ease-in-out;

  -webkit-appearance: none;
    -moz-appearance: none;
      appearance: none;
  
  &:hover {
    outline: transparent;
    color: var(--light-shadow);
    background-color: var(--bg);
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    transform: scale(1.1) translateY(0.1rem);
    transition: all 0.3s ease-in-out;
  }
  &:active {
    box-shadow:
    -0.15em -0.15em 0.45em var(--bs2) inset,
    0.15em 0.15em 0.45em var(--bs4) inset,
    0 0 0 var(--bs4), 
    0 0 0 var(--bs1);

    color: var(--light-shadow);
  }
  &.disable {
    pointer-events: none;
  }

};
  